 body {
     background-color: #0ff0ff;
 }

 td {
     border: 1px solid black;
 }

 p {
     background-color: rgb(170, 248, 247);
 }

 a {
     color: aliceblue;
 }

 .class {

     background-color: aquamarine;
 }

 #first_id {
     background-color: aqua;
 }
 #comment{
    background-color: bisque;
    font font-size: 10px;
    
 }
div{
    background-color: aliceblue;
}
 