 body {
     background-color: #0ff0ff;
 }

 td {
     border: 1px solid black;
 }

 p {
     background-color: rgb(170, 248, 247);
 }

 a {
     color: aliceblue;
 }
/* class selector */
 .class {

     background-color: aquamarine;
 }
/* id selector */
 #first_id {
     background-color: aqua;
 }
 #comment{
    background-color: bisque;
    font font-size: 10px;
    
 }

div{
    background-color: aliceblue;
}
/* peseudo selector */
 a :visited{
    color: azure;
 }
 a :hover{
    background-color: blue;
 }
 