 body {
     background-color: #0ff0ff;
 }

 td {
     border: 1px solid black;
 }

 p {
     background-color: rgb(170, 248, 247);
 }

 a {
     color: aliceblue;
 }
/* class selector */
 .class {

     background-color: aquamarine;
 }
/* id selector */
 #first_id {
     background-color: aqua;
 }
 #comment{
    background-color: bisque;
    font font-size: 10px;
    
 }

div{
    background-color: aliceblue;
}
/* peseudo selector */
 a :visited{
    color: azure;
 }
 a :hover{
    background-color: blue;
 }
 /* box model */
 .box{
    padding: 0;
    margin: 5px;
    border: 2dvh;
    box-sizing: border-box;
    color: blanchedalmond;
 }
  /*  css fonts,text & color properties*/
  .font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-stretch: semi-expanded;
  }
  .fonts p{
    font-variant-ligatures: no-additional-ligatures;
    font-synthesis: initial;
    font-stretch: ultra-condensed;
    font-style: italic;
    flex-direction: column;
   font: 1em sans-serif; 
   color: cadetblue;
   font-size:20px ;
   
  }
  .text{
    text-transform: capitalize;
    text-align: center;
    text-decoration-color: aliceblue;
    text-decoration-thickness:10px;

  }
 /* without class and id access html tag */
 div:first-child p{
    color: bisque;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }