/* body{
    background-color: #0ff0ff;
}
td{
    border: 1px solid black;
} */

body{ 
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-image:-moz-repeating-linear-gradient(rgb(202, 162, 225) , rgb(238, 220, 155), rgb(137, 225, 233));
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;

}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;

}

#increment-btn{
    background: darkred;
}
 
#save-btn{
    background: darkgreen;
}